

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header {
  background-image: url("./Assets/opening.jpg");
  background-size: cover;
}

.judulheader {
  text-align: right;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: darkmagenta;
  margin-right: 50px;
  font-family: "Lora";
}

.tombolheader {
  text-align: right;
}

html, head, body  {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

#destinasi {
  text-align: center;
  text-decoration: underline;
}

#gambarkiri {
  float: left;
}

#gambarkanan {
  float:right;
}

#deskripsi {
  text-align: justify;
  line-height: 1.4;
  font-family: sans-serif;
}

#gambartebalik {
  transform: rotate(180Deg);
}

#yogyakarta {
    background-color: whitesmoke;
}

#jawatengah {
    background-color: honeydew;
}

#jawabarat {
    background-color: lightgoldenrodyellow;
}

#biaya {
  text-align: right;
  max-width: 700px;
  border-color: red;
  border-style: dotted;
  background-color: lavenderblush;
  padding: inherit;
  margin: 0px auto;
  position: relative;
}

footer {
  position:relative;
  background-color: skyblue;
  text-align: center;
  bottom: 0px;
}
